@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/*regresar al menu principal*/

header a {
    color: black;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    /* Adjust the padding for all screens */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

@media only screen and (max-width: 1024px) {
    header {
        padding: 20px 50px;
    }
}

@media only screen and (max-width: 600px) {
    header {
        padding: 20px 20px;
    }
}


/*fin menu principal*/

body {
    background: url('../images/login.jpg') no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 640px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.form-box h2 {
    font-size: 2em;
    color: black;
    text-align: center;
}

.input_box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input_box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: -5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    border-bottom: 2px solid #162938;
    /* Remarca el espacio con borde */
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding: 5px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-110%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: 0.3s;
}

.input-box input:focus+label {
    top: 10px;
    font-size: 0.8em;
    color: #162938;
}

.input-box .icon {
    position: absolute;
    right: 15px;
    font-size: 1.8em;
    color: #162938;
    line-height: 3px;
}


/*recordar mi contraseña*/

.remember-forgot {
    font-size: .9em;
    color: #162938;
    font-size: 500;
    margin: 15px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remember-forgot label {
    display: flex;
    align-items: center;
}

.remember-forgot input[type="checkbox"] {
    margin-right: 8px;
}


/*fin recordar mi contraseña*/

.remember-forgot label input {
    accent-color: #161616;
    margin-right: 125px;
}

.remember-forgot a {
    color: #161616;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #161616;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: aliceblue;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}